@import url('https://code.highcharts.com/css/highcharts.css');
@import url('https://code.highcharts.com/dashboards/css/datagrid.css');
@import url('https://code.highcharts.com/dashboards/css/dashboards.css');

/* Colors */
:root {
    --highcharts-dashboards-green: #5c6dff;
    --highcharts-dashboards-orange: #fe74a6;
    --highcharts-dashboards-green-transparent: #20d17e30;
}

/* General */
.highcharts-dashboards,
.highcharts-dashboards-wrapper {
    background-color: transparent;
    padding: 0;
    padding-top: 8px;
    margin: 0;
    border: none !important;
}

.highcharts-background {
    fill: transparent;
    /* fill: red; */
    border-radius: 0.5rem;
}

.highcharts-color-0 {
    stroke: var(--highcharts-dashboards-green);
    fill: var(--highcharts-dashboards-green);
}

.highcharts-color-1 {
    stroke: var(--highcharts-dashboards-orange);
    fill: var(--highcharts-dashboards-orange);
}

/* Rows and cells */
.highcharts-dashboards-row#row-1 {
    background-color: transparent;
    border-radius: 0.5rem;
    border: none;
}
.highcharts-dashboards-row#row-2 {
    background-color: transparent;
    border-radius: 0.5rem;
}
.highcharts-dashboards-row#row-3 {
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0;
}
.highcharts-dashboards-row#row-3 > #dashboard-row-3-cell-2 {
    background-color: transparent;
}
.highcharts-dashboards-row#row-4 {
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0;
    margin: 0;
}

.highcharts-dashboards-cell > .highcharts-dashboards-component {
    background-color: white;
    border-radius: 0.5rem;
    margin: 0;
}

/* Components general */
.highcharts-dashboards-component-title {
    padding-top: 10px;
    font-size: 0.8rem;
    font-weight: 100;
    margin: 0;
}

.highcharts-dashboards-component-subtitle {
    font-size: 0.8rem;
    font-weight: 100;
    color: var(--highcharts-dashboards-green);
}

.highcharts-dashboards-component-kpi-value {
    font-weight: bold;
}

/* Components specific */
/* TOTAL PERSON */
#dashboard-row-1-cell-1 > * {
    border: none;
    margin: 4px 0px 4px 0px;
    font-weight: 100;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: none;
}
/* MALES */
#dashboard-row-2-cell-1
    .highcharts-dashboards-component
    .highcharts-dashboards-component-kpi-value {
    color: #5c6dff;
}
#dashboard-row-2-cell-1 > * {
    border: none;
    margin: 4px 4px 4px 0px;
    font-weight: 100;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: none;
}
/* FEMALES */
#dashboard-row-2-cell-2
    .highcharts-dashboards-component
    .highcharts-dashboards-component-kpi-value {
    color: #fe74a6;
}
#dashboard-row-2-cell-2 > * {
    border: none;
    margin: 4px 0px 4px 4px;
    font-weight: 100;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: none;
}
/* PIE CHART */
#dashboard-row-3-cell-1 > * {
    border: none;
    margin: 4px 4px 4px 0px;
    font-weight: 100;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: none;
}
/* TABLE */
#dashboard-row-3-cell-2 .highcharts-datagrid-container {
    border: none;
    font-weight: 100;
    border-radius: 0.5rem;
}
#dashboard-row-3-cell-2 > * {
    border: none;
    margin: 4px 0px 4px 4px;
    font-weight: 100;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: none;
}

#dashboard-row-3-cell-2 .highcharts-datagrid-container {
    border: none;
    font-weight: 100;
}
.highcharts-datagrid-container table {
    border: 0;
}
.highcharts-datagrid-container tbody {
    background-color: var(--highcharts-neutral-color-0);
}
.highcharts-datagrid-container {
    background-color: transparent;
}
#dashboard-row-3-cell-2 .highcharts-datagrid-table th {
    background-color: var(--highcharts-neutral-color-0);
}
#dashboard-row-3-cell-2 .highcharts-datagrid-row {
    background-color: var(--highcharts-neutral-color-0);
}
#dashboard-row-3-cell-2 .highcharts-datagrid-hovered-column {
    background: none;
}
#dashboard-row-3-cell-2 .highcharts-datagrid-hovered-row td {
    background: var(--highcharts-dashboards-green-transparent);
}

/* COLUMN CHART */
#dashboard-row-4-cell-1 > * {
    border: none;
    margin: 4px 0px 4px 0px;
    font-weight: 100;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: none;
}
